<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>湖大教务系统</title>
<link rel="shortcut icon" href="res/favicon.ico">
<script src="/js/vue.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/jquery-1.8.0.js"></script>
<link href="/res/layui-v2.3.0/layui/css/layui.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.main-body {
    margin : 80px 200px 40px 200px;
}

table.layui-table > thead > tr > th, table.layui-table > tbody > tr > td {
    text-align: center;
}
</style>

</head>

<body>  
<div id="app" class="main-body">
    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col width="200">
            <col width="200">
            <col>
            </colgroup>
            <thead>
                <tr>
                    <th>课程号</th>
                    <th>课程名</th>
                    <th>学分</th>
                    <th>授课老师</th>
                    <th>选课</th>
                </tr> 
            </thead>
            <tbody>
            <tr v-for="row in rows">
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.credit}}</td>
                <td>{{row.tname}}</td>
                <td><button @click="reload" class="layui-btn layui-btn-xs layui-btn-normal" style="width:100px;">选择</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    var app = new Vue({
            el: '#app',
            data: {
                rows : {}
            }, methods:{
                reload: function (event) {
                    location.reload()
                }
            }
    })

    axios.get('/student/course_unselected_list')
    .then(function (res) {
        if (res.data.responseCode == 200) {
           app.rows = res.data.resultSet 
        } else {
            layer.alert(res.data.responseMsg, {icon: 2})
        }
        console.log(rows)
    })
    .catch(function (res) {
        console.log(res);
    });

</script>

<script src="/res/layui-v2.3.0/layui/layui.all.js"></script>
</body>