<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>湖大教务系统</title>
<link rel="shortcut icon" href="res/favicon.ico">
<script src="/js/vue.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/jquery-1.8.0.js"></script>
<link href="/res/layui-v2.3.0/layui/css/layui.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.main-body {
    margin : 80px 200px 40px 200px;
}

table.layui-table > thead > tr > th, table.layui-table > tbody > tr > td {
    text-align: center;
}
</style>

</head>

<body>  
<div id="app" class="main-body">
    <div class="layui-row" style="margin-bottom: 20px;">
        <div class="layui-col-md1 layui-col-md-offset11">
            <button @click="add" class="layui-btn layui-btn-sm" style="width: 95px;">新增</button>
        </div>
    </div>
    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col width="200">
            <col width="200">
            <col>
            </colgroup>
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>专业</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                <tr v-for="row in rows">
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.sex}}</td>
                    <td>{{row.major}}</td>
                    <td>
                        <!-- <button class="layui-btn layui-btn-xs layui-btn-normal" style="width:60px;">修改</button> -->
                        <button @click="remove(row.id)" class="layui-btn layui-btn-xs layui-btn-danger" style="width:100px;">删除</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <!-- <button @click="delete()" class="layui-btn layui-btn-xs layui-btn-danger" style="width:60px;">删除</button> -->
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            rows : []
        }, methods:{
            remove: function(sid) {
                axios.post('/admin/delete_student', {sid: sid})
                .then(function (res) {
                    if (res.data.responseCode == 200) {
                        layer.msg('操作成功', {icon: 1, time: 500})
                    } else {
                        layer.alert(res.data.responseMsg, {icon: 2})
                    }
                    console.log(app.rows)
                })
                .catch(function (res) {
                    console.log(res);
                });
            },
            add: function(event) {
                layer.open({
                    type: 2, 
                    area: ['662px', '322px'],
                    content: '/admin/student_detail.html' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    // btn: ['确定', '取消'],
                    // yes: function(params) {
                    //     alert("HELLO")
                    // }
                }); 
            },
            update: function(sid) {
                axios.post('/admin/save_sid', sid)
                layer.open({
                    type: 2, 
                    area: ['662px', '322px'],
                    content: '/admin/student_detail.html' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    // btn: ['确定', '取消'],
                    // yes: function(params) {
                    //     alert("HELLO")
                    // }
                }); 
            }
        }
    })

    axios.get('/admin/student_list')
    .then(function (res) {
        if (res.data.responseCode == 200) {
           app.rows = res.data.resultSet 
        } else {
            layer.alert(res.data.responseMsg, {icon: 2})
        }
        console.log(app.rows)
    })
    .catch(function (res) {
        console.log(res);
    });

</script>

<script src="/res/layui-v2.3.0/layui/layui.all.js"></script>
</body>
</html>