<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例</title>
    <link rel="shortcut icon" href="res/favicon.ico">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery-1.8.0.js"></script>
    <script src="res/layui-v2.3.0/layui/layui.all.js"></script>
    <link href="res/layui-v2.3.0/layui/css/layui.css" rel="stylesheet" type="text/css" />
</head>


<body>
<div id="app">
    <p v-if="seen">现在你看到我了</p>
    <button v-on:click="greet" class='layui-btn layui-btn-primary'>Greet</button>
    <template v-if="ok">
      
        <h1>{{name}}</h1>
        <p>学的不仅是技术，更是梦想！</p>
        <p>哈哈哈，打字辛苦啊！！！</p>
    </template>
    <button class="layui-btn layui-btn-normal">hello</button>

</div>

<script>
var n = new Vue({
    el: '#app',
    data: {
        seen: true,
        ok: true,
        name : ''
    }, methods:{
        greet: function (event) {
            // alert("Hello")
            layer.msg('hello'); 
        }
    }
})

axios({
     method:'get',
     url:'http://localhost:8081/data'
}).then(function(resp){
      n.name = resp.data;
}).catch(resp => {
     console.log('请求失败：'+resp.status+','+resp.statusText);
});

</script>
</body>
</html>